<table>
<tr>
  <th>User Name</th>
  <th>Role</th>
  <th>Location</th>
  <th>Number of Curations</th>
</tr>
<% for researcher in @researcher %>
  <% if !researcher.hidden_account %>
    <tr>
      <td><%= researcher.user_name %></td>
      <td><%= researcher.role %></td>
      <td><%= researcher.location %></td>
      <td><%= researcher.curations.count %></td>
      <td><% if researcher.share_email %><a href="mailto:<%= researcher.email %>"><%= researcher.email %><% else %>Email not provided<% end %></a></td>
    </tr>
  <% end %>
<% end %>
</table>