<h1>Create a new dataset</h1>
<% if params[:worker].nil? && @dataset.nil?%>
  <p>Here, you can pull data down from Twitter via our workers, which access the API given only a few parameters. Currently, we have <%= WorkerDescription.count(:type => "collector", :active => true) %> actively collecting worker types that you can choose from. To get started, select one of them from this list:</p>
  <% WorkerDescription.all(:type => "collector", :active => true).each do |worker| -%>
    <%= link_to worker.name, url(:dataset, :new, :worker => worker.filename)%>
  <% end -%>
<% elsif (params[:worker_confirmed].nil? || params[:worker_confirmed] == "false") && @dataset.nil? %>
  <% worker = WorkerDescription.first(:filename => params[:worker]) %>
  <p>You seem to have chosen <%= worker.name %>:<br /><br />
    <%= worker.description %>
  </p>
  Does this sound ok?
  <%= link_to "Nope", url(:dataset, :new, :worker => worker.filename, :worker_confirmed => false) %> | <%= link_to "Yup", url(:dataset, :new, :worker => worker.filename, :worker_confirmed => true) %>
<% elsif params[:entered_parameters].nil? && @dataset.nil? %>
  <% worker = WorkerDescription.first(:filename => params[:worker]) %>
  <h1>Worker: <%= worker.name %></h1>
  <%= form_for :temp_dataset, :action => :verify do %>  
    <% for worker_param in worker.parameters.sort{|x, y| x.position<=>y.position} %>
      <b><%= worker_param.name %></b><br />
      <p><%= text_field "param_#{worker_param.id}".to_sym, :label => worker_param.name %></p>
      <%= worker_param.description %><br />
    <% end -%>
    <%= hidden_field :worker_id, :value => worker.id %>
    <%= submit 'Save Post' %> 
  <% end =%>
<% elsif @dataset && @results %>
  <% if @results[:reason].empty? %>
    <h1>Almost there.</h1>
    <p>So everything looks just about fine. I wanted to check with you before we send this work off.</p>
    <ul>
      <li>Dataset type: <%= @dataset.scrape_type %></li>
      <% case @dataset.scrape_type %>
      <% when "track" %>
        <li>Term: <%= @dataset.params.split(",").first %></li>
        <li>Length: <%= @dataset.params.split(",").last.to_i.humanized_length %>, Starting at <%= @dataset.created_at %></li>
      <% when "follow" %>
        <li>Account: <a href="http://twitter.com/<%= @results[:original].split(",").first %>" target="_blank"><%= @results[:original].split(",").first %></a></li>
        <li>Length: <%= @dataset.params.split(",").last.to_i.humanized_length %>, Starting at <%= @dataset.created_at %></li>
      <% when "locations" %>
        <li>Coordinates: <%= @dataset.params.split(",")[0..@dataset.params.split(",").length-2]%></li>
        <li>Length: <%= @dataset.params.split(",").last.to_i.humanized_length %>, Starting at <%= @dataset.created_at %></li>
      <% end %>
    </ul>
    Sound good? We got a deal?
    <%= link_to "Nope", url(:dataset, :new, :dataset_confirmed => false) %> | <%= link_to "Yup", url(:dataset, :new, :dataset_confirmed => true, :dataset => @dataset.attributes) %>
  <% else %>
    <% worker = WorkerDescription.first(:filename => params[:worker]) %>
    <h1>Worker: <%= worker.name %></h1>
    <b>We have a problem here, fellow internet researcher:</b>
    <p><%= results[:reason] %></p>
    <%= form_for :temp_dataset, :action => :verify do %>  
      <% for worker_param in worker.parameters.sort{|x, y| x.position<=>y.position} %>
        <b><%= worker_param.name %></b><br />
        <p><%= text_field "param_#{worker_param.id}".to_sym, :label => worker_param.name %></p>
        <%= worker_param.description %><br />
      <% end -%>
      <%= hidden_field :worker_id, :value => worker.id %>
      <%= submit 'Save Post' %> 
    <% end =%>
  <% end %>
<% end %>