<h1><%= @dataset.scrape_type.capitalize %> Dataset</h1>
<% parameters = @dataset.params.split(",") 
   parameter_descriptors = WorkerDescription.first(:filename => @dataset.scrape_type).parameters.sort{|x,y| x.position<=>y.position}
%>
<ul>
  <li>Requested by: <%= link_to @dataset.curation.researcher.user_name, url(:researcher, @dataset.curation.researcher)%></li>
  <li>Created on: <%= @dataset.created_at %></li>
  <% parameters.each_with_index do |parameter, i| %>
    <% if parameter_descriptors[i].name.downcase == "length" %>
      <li><%= parameter_descriptors[i].name %>: <%= parameter.to_i.humanized_length %></li>
    <% else %>
      <li><%= parameter_descriptors[i].name %>: <%= parameter %></li>
    <% end %>
  <% end %>
  <li><%= link_to @dataset.users_count==1 ? @dataset.users_count.to_s+" User" : @dataset.users_count.to_s+" Users", url(:users, :dataset_id => @dataset.id) %></li>
  <li><%= link_to @dataset.tweets_count==1 ? @dataset.tweets_count.to_s+" Tweet" : @dataset.tweets_count.to_s+" Tweets", url(:tweets, :dataset_id => @dataset.id) %></li>
  <li><%= link_to @dataset.entities_count==1 ? @dataset.entities_count.to_s+" Entity" : @dataset.entities_count.to_s+" Entities", url(:entities, :dataset_id => @dataset.id) %></li>
</ul>
<h1>Explore</h1>
<ul>
  <li><%= link_to "Primary Curation results", url(:curation, @dataset.curation)%></li>
  <li><%= link_to "Tweets", url(:tweets, :dataset_id => @dataset.id) %></li>
  <li><%= link_to "Users", url(:users, :dataset_id => @dataset.id) %></li>
  <li><%= link_to "Curations that employ this Dataset", url(:curations, :dataset_id => @dataset.id) %></li>
</ul>