<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="google-site-verification" content="-FNazUfnpuG4Fg1xNGC1voCEPz9TO50anvKoT7ymsVY" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>140kit: <%= controller.name rescue "blah" %></title>
<link rel="shortcut icon" href="/favicon.gif" />
<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript"> 
  google.load('visualization', '1', {packages: ['table','barchart','columnchart','linechart','piechart','geomap','annotatedtimeline','corechart']});
</script>

</head>
<body>
<div id="wrapper" class="shadow">
<div id="header">


<div id="navigation">
	<div id="logo">
	 <h1><a href="/">140kit</a></h1>
	</div>
  <ul>
		<li><a href="/about">About</a></li>
		<% if session.user %>
      <li>Logged in as <%= link_to session.user.user_name, url(:researcher, session.user) %>. <%= link_to "Logout?", url(:logout) %></li>
		<% else %>
		  <li><a href="/login">Log in</a></li>
		<% end %>
		<li><%= link_to "Researchers", url(:researchers) %></li>
		<li><%= link_to "Curations", url(:curations) %></li>
		<li><%= link_to "News", url(:posts) %></li> 		
  </ul>
</div>
</div>

<div id ="content">

    <%#= message[:notice] %>
    <%= catch_content :for_layout %>
    	  <div class="clearFloat"></div> 
    	  <div class="message"> 
        <p>HEY: we're just getting started with this site. If you see anything wrong or dumb or messed up, we would LOVE it if you ticketed it here: <a href="/tickets">TICKETS</a></p> 
        </div> 
    	</div> 
      <div id="footer"> 
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(cc-by-nc-sa)</a> <a href="http://www.webecologyproject.org">Web Ecology Project</a>, <a href="http://en.wikipedia.org/wiki/2011">2011</a> | <a href="mailto:140kit@webecologyproject.org">Contact</a> | <a href="http://140kit.com/pages/terms-of-service">TOS</a> 
    <script type="text/javascript"> 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16471158-1']);
      _gaq.push(['_setDomainName', '.140kit.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> 

      </div> 
    </div> 
    <br /><br /> 
    </body> 
    </html>