
<%
  @dataset = @graph.graph_points.collect{|gp| {:label => gp.label, :value => gp.value}}
  if ["hashtag_count|retweet_count", "link_count|retweet_count", "mention_count|retweet_count", "entity_count|retweet_count", "followers_count|friends_count", "followers_count|statuses_count", "friends_count|statuses_count", "source_retweet_counts", "source_link_count", "source_mention_count", "source_entity_count","followers_per_day", "friends_per_day", "statuses_per_day", "avg_followers_per_day|avg_friends_per_day", "avg_followers_per_day|avg_statuses_per_day", "avg_friends_per_day|avg_statuses_per_day", "location|avg_followers_counts", "location|avg_friends_counts", "location|avg_statuses_counts", "location|sum_followers_counts", "location|sum_friends_counts", "location|sum_statuses_counts", "avg_followers_counts|avg_friends_counts", "avg_followers_counts|avg_statuses_counts", "avg_friends_counts|avg_statuses_counts", "sum_followers_counts|sum_friends_counts", "sum_followers_counts|sum_statuses_counts", "sum_friends_counts|sum_statuses_counts","count_differentials","counts_by_app","counts_by_location","average_differentials"].include?(@graph.title)
    debugger
    gg = ""
  end
  def yAxis(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "{title: {text: 'Total'},plotLines: [{value: 0,width: 1,color: '#808080'}]},"
  end
  def xAxis(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "{title: {text: 'Total'},plotLines: [{value: 0,width: 1,color: '#808080'}]},"
  end
  def chart(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "{renderTo: 'container',type: 'scatter',marginRight: 130,marginBottom: 50},"
  end
  def series(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || ""
  end
  def plotOptions(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "{},"
  end
  def tooltip(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "{},"
  end
  def google_number(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "'number', 'Number'"
  end
  def google_string(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "'string', 'String'"
  end
  def google_table_type(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "Number"
  end
  def google_params(title)
    {"hashtag_count|retweet_count" => nil, 
    "link_count|retweet_count" => nil, 
    "mention_count|retweet_count" => nil, 
    "entity_count|retweet_count" => nil, 
    "followers_count|friends_count" => nil, 
    "followers_count|statuses_count" => nil, 
    "friends_count|statuses_count" => nil, 
    "source_retweet_counts" => nil, 
    "source_link_count" => nil, 
    "source_mention_count" => nil, 
    "source_entity_count" => nil,
    "followers_per_day" => nil, 
    "friends_per_day" => nil, 
    "statuses_per_day" => nil, 
    "avg_followers_per_day|avg_friends_per_day" => nil, 
    "avg_followers_per_day|avg_statuses_per_day" => nil, 
    "avg_friends_per_day|avg_statuses_per_day" => nil, 
    "location|avg_followers_counts" => nil, 
    "location|avg_friends_counts" => nil, 
    "location|avg_statuses_counts" => nil, 
    "location|sum_followers_counts" => nil, 
    "location|sum_friends_counts" => nil, 
    "location|sum_statuses_counts" => nil, 
    "avg_followers_counts|avg_friends_counts" => nil, 
    "avg_followers_counts|avg_statuses_counts" => nil, 
    "avg_friends_counts|avg_statuses_counts" => nil, 
    "sum_followers_counts|sum_friends_counts" => nil, 
    "sum_followers_counts|sum_statuses_counts" => nil, 
    "sum_friends_counts|sum_statuses_counts" => nil,
    "count_differentials" => nil,
    "counts_by_app" => nil,
    "counts_by_location" => nil,
    "average_differentials" => nil}[title] || "{}"
  end
%>
<% if ["hashtag_count|retweet_count", "link_count|retweet_count", "mention_count|retweet_count", "entity_count|retweet_count", "followers_count|friends_count", "followers_count|statuses_count", "friends_count|statuses_count", "source_retweet_counts", "source_link_count", "source_mention_count", "source_entity_count","followers_per_day", "friends_per_day", "statuses_per_day", "avg_followers_per_day|avg_friends_per_day", "avg_followers_per_day|avg_statuses_per_day", "avg_friends_per_day|avg_statuses_per_day", "location|avg_followers_counts", "location|avg_friends_counts", "location|avg_statuses_counts", "location|sum_followers_counts", "location|sum_friends_counts", "location|sum_statuses_counts", "avg_followers_counts|avg_friends_counts", "avg_followers_counts|avg_statuses_counts", "avg_friends_counts|avg_statuses_counts", "sum_followers_counts|sum_friends_counts", "sum_followers_counts|sum_statuses_counts", "sum_friends_counts|sum_statuses_counts","count_differentials","counts_by_app","counts_by_location","average_differentials"].include?(@graph.title) %>
  <script type="text/javascript">
    $(function () {
        var chart;
        function dateSet(value){
          var date = new Date(value);
          date.setMonth(date.getMonth() - 1);
          return date;
        }
        function boolToYesNo(value){
          if (value == 0 || value == "0"){
            return "No";
          } else if (value == 1 || value == "1"){
            return "Yes";            
          };
        }
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: <%= chart(@graph.title) %>
                yAxis: <%= yAxis(@graph.title) %>
                xAxis: <%= xAxis(@graph.title) %>
                legend: {enabled: false},
                title: {text: '<%= @graph.pretty_title %>',x: -20},
                tooltip: <%= tooltip(@graph.title) %>
            		plotOptions: <%= plotOptions(@graph.title) %>
            		series: [{
            			<%= series(@graph.title) %>
            			data: <%= @dataset %>
            		}]
            });
        });
    
    });
  </script>
<% end %>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<!-- {startOnTick: true, endOnTick: true, showLastLabel: true}, -->