<% 
def options_for(graph)
  case graph.title
  when "tweets_language"
    "{title: 'Overview', titleX: 'Length', titleY: 'Average', height: 500, width:915, is3D: true, curveType: 'function', Vaxis: {minValue: 0.0}}"
  when "tweets_created_at"
    "{title: 'Overview', titleX: 'Length', titleY: 'Average', height: 500, width:915, is3D: true, curveType: 'function', Vaxis: {minValue: 0.0}}"
  when "tweets_location"
    "{title: 'Overview', titleX: 'Length', titleY: 'Average', height: 500, width:915, region: 'world', dataMode: 'markers'}"
  when "users_time_zone"
    "{title: 'Overview', titleX: 'Length', titleY: 'Average', height: 500, width:915, region: 'world', dataMode: 'markers'}"
  else
    "{title: 'Overview', titleX: 'Length', titleY: 'Average', height: 500, width:915, is3D: true, curveType: 'function', Vaxis: {minValue: 0.0}}"
  end
end

def chart_type_for(graph)
  case graph.title
  when "tweets_language"
    "PieChart"
  when "tweets_location"
    "GeoMap"
  when "users_geo_enabled"
    "PieChart"
  when "users_time_zone"
    "GeoMap"
  when "users_lang"
    "PieChart"
  when "tweets_source"
    "Table"
  when "users_created_at"
    "AnnotatedTimeLine"
  when "tweets_created_at"
    "AnnotatedTimeLine"
  else "LineChart"
  end
end

def params_for(graph)
  case graph.title
  when "users_created_at"
    "?x_class=datetime"
  when "tweets_created_at"
    "?x_class=datetime"
  end
end

def sort_js_for(graph)
  case graph.title
  when "tweets_created_at"
    "
    for (i = 0; i<data.getNumberOfRows(); i++){
      data.setValue(i, 0, new Date(data.getValue(i,0)));
    }
    var rowInds = data.getSortedRows([{column: 0}]).reverse();
    var view = new google.visualization.DataView(data);
    view.setRows(rowInds);"
  when "users_created_at"
    "
    for (i = 0;i<data.getNumberOfRows();i++){
      data.setValue(i,0, new Date(data.getValue(i,0)));
    }
    var rowInds = data.getSortedRows([{column: 0}]).reverse();
    var view = new google.visualization.DataView(data);
    view.setRows(rowInds);"
  when "tweets_location"
    "    var view = new google.visualization.DataView(data);"
  when "users_time_zone"
    "    var view = new google.visualization.DataView(data);"
  else
    "var rowInds = data.getSortedRows([{column: 1}]).reverse();
    var view = new google.visualization.DataView(data);
    view.setRows(rowInds);"
  end
end

def warning_message_for(graph)
  case graph.title
  when "tweets_location"
    return "<b>Warning: this view may take a long time to load, as it has to query Google's location API for the locations.</b>"
  when "users_time_zone"
    return "<b>Warning: this view may take a long time to load, as it has to query Google's location API for the locations.</b>"
  end
end
%>
<script type="text/javascript"> 
  function init() {
    <% for graph in @analysis_metadata.graphs %>
      $.ajax({
              url: "/graphs/google/<%= graph.id %>.json<%= params_for(graph) %>",
              type: "GET",
              success: function (json) {
                      var data = new google.visualization.DataTable(json);
                      <%= sort_js_for(graph) %>
                      var chart = new google.visualization.<%= chart_type_for(graph) %>(document.getElementById('graphDraw_<%= graph.title %>'));
                      chart.draw(view,<%= options_for(graph) %>);
              }
      });
    <% end %>
  }    

  google.setOnLoadCallback(init);

</script>
<h2><%= link_to "Download .zip of charts", @analysis_metadata.zip_download_url %></h2>
<% for graph in @analysis_metadata.graphs %>
  <h1><%= graph.title.to_capitals %></h1>
	<div id="graphDraw_<%= graph.title %>" style="height:500px;width:915px;"><%= warning_message_for(graph) %></div> 
<% end %>