<h1><%= @analysis_metadata.function %> (for Curation <%= @analysis_metadata.curation.name %>)</h1>
<script type="text/javascript"> 
  var wrapper;

  "<%= request.env["SERVER_NAME"]+":"+request.env["SERVER_PORT"] %>";
  function init() {
    <% for graph in @analysis_metadata.graphs %>
      wrapper = new google.visualization.ChartWrapper({
        dataSourceUrl: "http://test.140kit.com/graphs/google/<%= graph.id %>.json",
        containerId: 'graphDraw_<%= graph.title %>',
        chartType: '<%= graph.chart_type_for(graph) %>',
        options: {title: 'Overview', titleX: 'Length', titleY: 'Average', height: 500, width:915, is3D: true, curveType: "function", Vaxis: {minValue: 0.0}}
      });
      wrapper.draw();
    <% end %>
  }    

  google.setOnLoadCallback(init);

</script>
<% for graph in @analysis_metadata.graphs %>
	<div id="graphDraw_<%= graph.title %>" style="height:500px;width:915px;"></div> 
  <%= link_to graph.title, "" %>
<% end %>