<% if @curations.empty? -%>
  <h1>No curations found.</h1>
<% else -%>
  <table>
  <tr>
    <th>Name</th>
    <th>Created</th>
    <th>Researcher</th>
    <th>Number of Datasets</th>
    <th>Number of Analytics</th>
    <th>Users</th>
    <th>Tweets</th>
    <th>Entities</th>
  </tr>
    <% for curation in @curations %>
      <% if !curation.researcher.hidden_account && !curation.archived %>
        <tr>
          <td><%= link_to curation.name, url(:curation, curation) %></td>
          <td><%= time_ago_in_words(curation.created_at) %></td>
          <td><%= link_to curation.researcher.user_name, url(:researcher, curation.researcher) %></td>
          <td><%= curation.datasets.count %></td>
          <td><%= curation.analysis_metadatas.count %></td>
          <td><%= curation.users_count %></td>
          <td><%= curation.tweets_count %></td>
          <td><%= curation.entities_count %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end -%>