<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @tag.tag %>
</p>

<p>
  <b>Classname:</b>
  <%= @tag.classname %>
</p>

<p>
  <b>With:</b>
  <%= @tag.with_id %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
